.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 5px;
    padding: 5px;
}

.container>div{
    display: flex;
    align-items: center;
    justify-content: center;
}

.me{
    position: fixed;
    right: 10px;
    top: 10px;
    border: solid;
    padding: 5px;
}

.greet{
    color: blue;
}

button{
    background: linear-gradient(120deg,blue,yellow,blue);
    height: 2rem;
    width: 250px;
}
